src/msml/msml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:msml="http://sfb125.de/msml" targetNamespace="http://sfb125.de/msml"
        version="0.1" elementFormDefault="unqualified"
        xmlns="http://www.w3.org/2001/XMLSchema">

    <complexType name="operator_t">
        <all>
            <element name="runtime" type="msml:runtime_t" minOccurs="1"
                     maxOccurs="1">
            </element>
            <element name="input" type="msml:setofparameters_t"
                     minOccurs="1" maxOccurs="1">
            </element>
            <element name="output" type="msml:setofparameters_t"
                     minOccurs="1" maxOccurs="1">
            </element>
            <element name="parameters" type="msml:setofparameters_t"
                     minOccurs="0" maxOccurs="1">
            </element>
            <element name="annotation" minOccurs="0" maxOccurs="1"
                     type="msml:annotation_t">
            </element>
        </all>
        <attribute name="name" type="string" use="required"></attribute>
    </complexType>

    <complexType name="struct_t">
        <sequence>
            <element name="arg" type="msml:arg_t" minOccurs="1"
                     maxOccurs="unbounded">
            </element>
        </sequence>
        <attribute name="name" type="string"></attribute>
        <attribute name="optional" type="boolean" use="optional"
                   default="0"></attribute>
    </complexType>

    <complexType name="arg_t">
        <annotation>
            <documentation>
                Type of Arguments.

                An argument consist of @name,
                @format, @type.

                name is the description/identifier format ... type
                ...
            </documentation>
        </annotation>
        <sequence>
            <element name="meta" type="msml:keyvalue_t" maxOccurs="unbounded"
                     minOccurs="0">
            </element>
        </sequence>
        <attribute name="name" type="string" use="required"></attribute>
        <attribute name="type" type="string" use="optional"></attribute>
        <attribute name="format" type="string"></attribute>
        <attribute name="optional" type="boolean" use="optional"
                   default="0"></attribute>
        <attribute name="default" type="string" use="optional"></attribute>
    </complexType>


    <complexType name="keyvalue_t">
        <annotation>
            <documentation>
                A simple key/value datatype for describing various
                information.
            </documentation>
        </annotation>

        <simpleContent>
            <extension base="string">
                <attribute name="value" type="string" use="optional"></attribute>
                <attribute name="key" use="required"/>
            </extension>
        </simpleContent>
    </complexType>


    <complexType name="runtime_t">
        <choice minOccurs="1" maxOccurs="1">
            <element name="python">
                <complexType>
                    <attribute name="module" type="string" use="required"></attribute>
                    <attribute name="function" type="string" use="required"></attribute>
                </complexType>
            </element>
            <element name="sh">
                <complexType>
                    <attribute name="file" type="string" use="required">
                    </attribute>
                    <attribute name="wd" type="string" use="required"></attribute>
                    <attribute name="template" type="string"></attribute>
                </complexType>
            </element>
            <element name="so">
                <complexType>
                    <attribute name="file" type="string" use="required"></attribute>
                    <attribute name="symbol" type="string" use="required"></attribute>
                </complexType>
            </element>
        </choice>
    </complexType>

    <complexType name="setofparameters_t">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <choice minOccurs="1" maxOccurs="1">
                <element name="arg" type="msml:arg_t"></element>
                <element name="struct" type="msml:struct_t"></element>
            </choice>
        </sequence>
    </complexType>

    <element name="operator" type="msml:operator_t"></element>


    <element name="msml" type="msml:msml_t">
    </element>

    <complexType name="everything_t">
        <sequence>
            <any processContents="skip" minOccurs="0"></any>
        </sequence>
        <anyAttribute processContents="skip"></anyAttribute>
    </complexType>

    <complexType name="object_t">
        <complexContent>
            <extension base="msml:node_t">
                <all>
                    <element name="body" type="msml:body_t" minOccurs="0">
                    </element>
                    <element name="material" type="msml:material_t" minOccurs="0">
                    </element>
                    <element name="constraints" type="msml:constraints_t"
                             minOccurs="0">
                    </element>
                    <element name="mesh" type="msml:mesh_t" minOccurs="1"
                             maxOccurs="1">
                    </element>
                    <element name="sets" type="msml:sets_t" minOccurs="0"
                             maxOccurs="1">
                    </element>
                    <element name="output" minOccurs="0" maxOccurs="1">
                        <complexType>
                            <sequence>
                                <any processContents="lax"></any>
                            </sequence>
                            <anyAttribute></anyAttribute>
                        </complexType>
                    </element>
                </all>
                <attribute name="id" type="string"></attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="group_t">
        <complexContent>
            <extension base="msml:node_t">
                <sequence>
                    <choice>
                        <element name="group" type="msml:group_t"></element>
                        <element name="object" type="msml:object_t"></element>
                    </choice>
                </sequence>
            </extension>
        </complexContent>

    </complexType>

    <complexType name="node_t"></complexType>

    <complexType name="scene_t">
        <complexContent>
            <extension base="msml:group_t">


            </extension>
        </complexContent>
    </complexType>

    <element name="element" type="msml:element_t">
    </element>

    <complexType name="element_t">
        <sequence>
            <element name="description" type="string" minOccurs="1"
                     maxOccurs="1"></element>
            <element name="parameters" type="msml:setofparameters_t"
                     minOccurs="0" maxOccurs="1"></element>
            <element name="inputs" type="msml:setofparameters_t"
                     minOccurs="0"></element>
        </sequence>
        <attribute name="name" type="string"></attribute>
        <attribute use="required" name="category">
            <simpleType>
                <restriction base="string">
                    <enumeration value="constraint"></enumeration>
                    <enumeration value="mesh"></enumeration>
                    <enumeration value="basic"></enumeration>
                    <enumeration value="indexgroup"></enumeration>
                    <enumeration value="material"></enumeration>
                </restriction>
            </simpleType>
        </attribute>
        <attribute use="required" name="quantity">
            <!-- <simpleType> <restriction base="anySimpleType"> <enumeration value="single"></enumeration>
                </simpleType> </restriction> -->
            <simpleType>
                <restriction base="string">
                    <enumeration value="single"></enumeration>
                    <enumeration value="multi"></enumeration>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="msml_t">
        <sequence>
            <element name="variables" maxOccurs="1" minOccurs="0">
                <complexType>
                    <sequence minOccurs="0" maxOccurs="unbounded">
                        <choice minOccurs="0" maxOccurs="1">
                            <element name="var">
                                <complexType>
                                    <attribute use="required" name="name" type="string">
                                    </attribute>
                                    <attribute name="value" type="string"></attribute>
                                    <attribute name="type" type="string"></attribute>
                                    <attribute use="optional" name="format" type="string">
                                    </attribute>
                                </complexType>
                            </element>
                            <element name="file">
                                <complexType>
                                    <attribute use="required" name="name" type="string"></attribute>
                                    <attribute name="location" type="string"></attribute>
                                    <attribute name="type" type="string"></attribute>
                                    <attribute use="optional" name="format" type="string"></attribute>
                                </complexType>
                            </element>
                        </choice>
                    </sequence>
                </complexType>
            </element>
            <element name="scene" type="msml:scene_t" minOccurs="0"></element>
            <element name="workflow" type="msml:workflow_t" minOccurs="0"></element>
            <element name="environment" minOccurs="0" maxOccurs="1"
                     type="msml:environment_t">
            </element>
        </sequence>
    </complexType>
    <complexType name="annotation_t">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="entry" type="msml:keyvalue_t"></element>
        </sequence>
    </complexType>

    <complexType name="workflow_t">
        <sequence>
            <any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="environment_t">
        <sequence>
            <element name="solver">
                <complexType>
                    <attribute use="optional" default="CPU" name="processingUnit">
                        <simpleType>
                            <restriction base="string">
                                <enumeration value="CPU"></enumeration>
                                <enumeration value="GPU"></enumeration>
                            </restriction>
                        </simpleType>
                    </attribute>
                    <attribute name="linearSolver">
                        <simpleType>
                            <restriction base="string">
                                <enumeration value="iterativeCG"></enumeration>
                                <enumeration value="CG"></enumeration>
                                <enumeration value="GMRES"></enumeration>
                            </restriction>
                        </simpleType>
                    </attribute>
                    <attribute name="preconditioner">
                        <simpleType>
                            <restriction base="string">
                                <enumeration value="NOPRECOND"></enumeration>
                                <enumeration value="JACOBI"></enumeration>
                                <enumeration value="GAUSS_SEIDEL"></enumeration>
                                <enumeration value="SGAUSS_SEIDEL"></enumeration>
                                <enumeration value="SOR"></enumeration>
                                <enumeration value="SSOR"></enumeration>
                                <enumeration value="ILU"></enumeration>
                                <enumeration value="ILU2"></enumeration>
                                <enumeration value="ILU_P"></enumeration>
                            </restriction>
                        </simpleType>
                    </attribute>
                    <attribute name="timeIntegration">
                        <simpleType>
                            <restriction base="string">
                                <enumeration value="dynamicImplicitEuler"></enumeration>
                                <enumeration value="Newmark"></enumeration>
                            </restriction>
                        </simpleType>
                    </attribute>
                </complexType>
            </element>
            <element name="simulation">
                <complexType>
                    <sequence>
                        <element name="step">
                            <complexType>
                                <attribute name="name" type="string">
                                </attribute>
                                <attribute name="dt">
                                    <simpleType>
                                        <restriction base="float">
                                            <!-- causes a bug: XMLSyntaxError(u"Element 'step', attribute 'dt':
                                            [facet 'minExclusive'] The value '0.05' must be greater than '0'.",))
                                            <minExclusive value="0"></minExclusive>
                                            -->
                                        </restriction>
                                    </simpleType>
                                </attribute>
                                <attribute name="iterations">
                                    <simpleType>
                                        <restriction base="int">
                                            <minExclusive value="0"></minExclusive>
                                        </restriction>
                                    </simpleType>
                                </attribute>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>

    <complexType name="body_t">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <any processContents="lax"></any>
        </sequence>
        <anyAttribute></anyAttribute>
    </complexType>

    <complexType name="material_type"></complexType>

    <complexType name="material_t">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="region" minOccurs="0" maxOccurs="unbounded">
                <complexType>
                    <sequence minOccurs="1" maxOccurs="unbounded">
                        <choice>
                            <!-- <element name="indexgroup" type="msml:indexgroup_t"></element> -->
                            <any processContents="lax"></any>
                        </choice>
                    </sequence>
                    <attribute name="id" type="string"></attribute>
                </complexType>
            </element>
        </sequence>
        <anyAttribute></anyAttribute>
    </complexType>

    <complexType name="constraints_t">
        <sequence minOccurs="1" maxOccurs="unbounded">
            <element name="constraint" minOccurs="1" maxOccurs="unbounded">
                <complexType>
                    <sequence>
                        <any minOccurs="0" maxOccurs="unbounded" processContents="lax"></any>
                    </sequence>
                    <attribute name="name" type="string"></attribute>
                    <attribute name="forStep" type="string"></attribute>
                </complexType>
            </element>
        </sequence>
    </complexType>

    <complexType name="mesh_t">
        <choice minOccurs="1" maxOccurs="1">
            <element name="linearTet" type="msml:mesh_sub_t"></element>
            <element name="quadraticTet" type="msml:mesh_sub_t"></element>
            <element name="triangularTet" type="msml:mesh_sub_t"></element>
        </choice>
    </complexType>

    <complexType name="mesh_sub_t">
        <attribute name="mesh" type="string"></attribute>
        <attribute name="id" type="string"></attribute>
    </complexType>

    <complexType name="sets_t">
        <sequence>
            <element name="nodes" type="msml:list_of_indexgroups_t"
                     minOccurs="0" maxOccurs="1"></element>
            <element name="elements" type="msml:list_of_indexgroups_t"
                     minOccurs="0" maxOccurs="1"></element>
            <element name="surfaces" type="msml:list_of_indexgroups_t"
                     minOccurs="0" maxOccurs="1"></element>
        </sequence>
    </complexType>

    <complexType name="list_of_indexgroups_t">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="indexgroup" type="msml:indexgroup_t"></element>
        </sequence>
    </complexType>

    <complexType name="indexgroup_t">
        <attribute name="indices" type="string"></attribute>
        <attribute name="id" type="string" use="optional"></attribute>
    </complexType>
</schema>