src/msml/msml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:msml="http://sfb125.de/msml" targetNamespace="http://sfb125.de/msml"
        version="0.1" elementFormDefault="unqualified"
        xmlns="http://www.w3.org/2001/XMLSchema">

    <complexType name="operator_t">
        <all>
            <element name="runtime" type="msml:runtime_t" minOccurs="1"
                     maxOccurs="1">
            </element>
            <element name="input" type="msml:setofparameters_t"
                     minOccurs="1" maxOccurs="1">
            </element>
            <element name="output" type="msml:setofparameters_t"
                     minOccurs="1" maxOccurs="1">
            </element>
            <element name="parameters" type="msml:setofparameters_with_target_t"
                     minOccurs="0" maxOccurs="1">
            </element>
            <element name="annotation" minOccurs="0" maxOccurs="1"
                     type="msml:annotation_t">
            </element>
        </all>
        <attribute name="name" type="string" use="required"/>
    </complexType>

    <complexType name="struct_t">
        <sequence>
            <element name="arg" type="msml:arg_t" minOccurs="1"
                     maxOccurs="unbounded">
            </element>
        </sequence>
        <attribute name="name" type="string"/>
        <attribute name="optional" type="boolean" use="optional"
                   default="0"/>
    </complexType>

    <complexType name="arg_t">
        <annotation>
            <documentation>
                Type of Arguments.

                An argument consist of @name,
                @format, @type.

                name is the description/identifier format ... type
                ...
            </documentation>
        </annotation>
        <sequence>
            <element name="meta" type="msml:keyvalue_t" maxOccurs="unbounded"
                     minOccurs="0">
            </element>
        </sequence>
        <attribute name="name" type="string" use="required"/>
        <attribute name="physical" type="string" use="required"/>
        <attribute name="logical" type="string" use="optional"/>
        <attribute name="optional" type="boolean" use="optional"
                   default="0"/>
        <attribute name="default" type="string" use="optional"/>
    </complexType>

    <complexType name="arg_with_target_t">
        <annotation>
            <documentation>
                Argument of parameters with the @target attribute.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="msml:arg_t">
                <attribute name="target" type="boolean" use="optional"/>
            </extension>
        </complexContent>
    </complexType>


    <complexType name="keyvalue_t">
        <annotation>
            <documentation>
                A simple key/value datatype for describing various
                information.
            </documentation>
        </annotation>

        <simpleContent>
            <extension base="string">
                <attribute name="value" type="string" use="optional"/>
                <attribute name="key" use="required"/>
            </extension>
        </simpleContent>
    </complexType>


    <complexType name="runtime_t">
        <choice minOccurs="1" maxOccurs="1">
            <element name="python">
                <complexType>
                    <attribute name="module" type="string" use="required"/>
                    <attribute name="function" type="string" use="required"/>
                </complexType>
            </element>
            <element name="sh">
                <complexType>
                    <attribute name="template" type="string" use="required"/>
                </complexType>
            </element>
            <element name="so">
                <complexType>
                    <attribute name="file" type="string" use="required"/>
                    <attribute name="symbol" type="string" use="required"/>
                </complexType>
            </element>
        </choice>
    </complexType>

    <complexType name="setofparameters_t">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <choice minOccurs="1" maxOccurs="1">
                <element name="arg" type="msml:arg_t"/>
                <element name="struct" type="msml:struct_t"/>
            </choice>
        </sequence>
    </complexType>

    <complexType name="setofparameters_with_target_t">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <choice minOccurs="1" maxOccurs="1">
                <element name="arg" type="msml:arg_with_target_t"/>
            </choice>
        </sequence>
    </complexType>

    <element name="operator" type="msml:operator_t"/>


    <element name="msml" type="msml:msml_t">
    </element>

    <complexType name="everything_t">
        <sequence>
            <any processContents="skip" minOccurs="0"/>
        </sequence>
        <anyAttribute processContents="skip"/>
    </complexType>

    <complexType name="object_t">
        <complexContent>
            <extension base="msml:node_t">
                <all>
                    <element name="body" type="msml:body_t" minOccurs="0">
                    </element>
                    <element name="material" type="msml:material_t" minOccurs="0">
                    </element>
                    <element name="constraints" type="msml:constraints_t"
                             minOccurs="0">
                    </element>
                    <element name="mesh" type="msml:mesh_t" minOccurs="1"
                             maxOccurs="1">
                    </element>
                    <element name="sets" type="msml:sets_t" minOccurs="0"
                             maxOccurs="1"/>
                    <element name="output" minOccurs="0" maxOccurs="1" type="msml:object_output_t"/>
                </all>
                <attribute name="id" type="string"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="object_output_t">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <choice>
                <any processContents="lax"/>
            </choice>
        </sequence>
        <anyAttribute/>
    </complexType>

    <complexType name="group_t">
        <complexContent>
            <extension base="msml:node_t">
                <sequence>
                    <choice>
                        <element name="group" type="msml:group_t"/>
                        <element name="object" type="msml:object_t"/>
                    </choice>
                </sequence>
            </extension>
        </complexContent>

    </complexType>

    <complexType name="node_t"/>

    <complexType name="scene_t">
        <complexContent>
            <extension base="msml:group_t">
            </extension>
        </complexContent>
    </complexType>

    <element name="element" type="msml:element_t">
    </element>

    <complexType name="element_t">
        <sequence>
            <element name="description" type="string" minOccurs="1"
                     maxOccurs="1"/>
            <element name="parameters" type="msml:setofparameters_t"
                     minOccurs="0" maxOccurs="1"/>
            <element name="inputs" type="msml:setofparameters_t"
                     minOccurs="0"/>
        </sequence>
        <attribute name="name" type="string"/>
        <attribute use="required" name="category">
            <simpleType>
                <restriction base="string">
                    <enumeration value="constraint"/>
                    <enumeration value="basic"/>
                    <enumeration value="material"/>
                    <enumeration value="output"/>
                </restriction>
            </simpleType>
        </attribute>
        <attribute use="required" name="quantity">
            <!-- <simpleType> <restriction base="anySimpleType"> <enumeration value="single"/>
                </simpleType> </restriction> -->
            <simpleType>
                <restriction base="string">
                    <enumeration value="single"/>
                    <enumeration value="multi"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="msml_t">
        <sequence>
            <element name="variables" maxOccurs="1" minOccurs="0">
                <complexType>
                    <sequence minOccurs="0" maxOccurs="unbounded">
                        <choice minOccurs="0" maxOccurs="1">
                            <element name="var">
                                <complexType>
                                    <attribute use="required" name="name" type="string">
                                    </attribute>
                                    <attribute name="value" type="string"/>
                                    <attribute use="optional" name="physical" type="string"/>
                                    <attribute use="optional" name="logical" type="string"/>
                                                                       <attribute use="optional" name="role" type="string">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="input"/>
                                                <enumeration value="output"/>
                                                <enumeration value="param"/>
                                                <enumeration value="fix"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                </complexType>
                            </element>
                            <element name="file">
                                <complexType>
                                    <attribute use="required" name="name" type="string"/>
                                    <attribute name="location" type="string"/>
                                    <attribute name="type" type="string"/>
                                    <attribute use="optional" name="format" type="string"/>
                                    <attribute use="optional" name="role" type="string">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="input"/>
                                                <enumeration value="output"/>
                                                <enumeration value="param"/>
                                                <enumeration value="fix"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                </complexType>
                            </element>
                        </choice>
                    </sequence>
                </complexType>
            </element>
            <element name="scene" type="msml:scene_t" minOccurs="0"/>
            <element name="workflow" type="msml:workflow_t" minOccurs="0"/>
            <element name="environment" minOccurs="0" maxOccurs="1"
                     type="msml:environment_t">
            </element>
        </sequence>
    </complexType>
    <complexType name="annotation_t">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="entry" type="msml:keyvalue_t"/>
        </sequence>
    </complexType>

    <complexType name="workflow_t">
        <sequence>
            <choice>
                <any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
            </choice>
        </sequence>
    </complexType>


    <complexType name="environment_t">
        <sequence>
            <element name="solver">
                <complexType>
                    <attribute use="optional" default="CPU" name="processingUnit">
                        <simpleType>
                            <restriction base="string">
                                <enumeration value="CPU"/>
                                <enumeration value="GPU"/>
                            </restriction>
                        </simpleType>
                    </attribute>
                    <attribute use="optional" default="1" name="numParallelProcessesOnCPU">
                        <simpleType>
                            <restriction base="int">
                                <minExclusive value="1"/>
                            </restriction>
                        </simpleType>
                    </attribute>
                    <attribute use="optional" default="1" name="hf3_chanceOfContactBoolean">
                        <simpleType>
                            <restriction base="int">
                                <minExclusive value="0"/>
                            </restriction>
                        </simpleType>
                    </attribute>
                    <attribute name="linearSolver">
                        <simpleType>
                            <restriction base="string">
                                <enumeration value="iterativeCG"/>
                                <enumeration value="CG"/>
                                <enumeration value="GMRES"/>
                                <enumeration value="direct"/>
                            </restriction>
                        </simpleType>
                    </attribute>
                    <attribute name="preconditioner">
                        <simpleType>
                            <restriction base="string">
                                <enumeration value="NOPRECOND"/>
                                <enumeration value="JACOBI"/>
                                <enumeration value="GAUSS_SEIDEL"/>
                                <enumeration value="SGAUSS_SEIDEL"/>
                                <enumeration value="SOR"/>
                                <enumeration value="SSOR"/>
                                <enumeration value="ILU"/>
                                <enumeration value="ILU2"/>
                                <enumeration value="ILU_P"/>
                            </restriction>
                        </simpleType>
                    </attribute>
                    <attribute name="timeIntegration">
                        <simpleType>
                            <restriction base="string">
                                <enumeration value="dynamicImplicitEuler"/>
                                <enumeration value="Newmark"/>
                            </restriction>
                        </simpleType>
                    </attribute>
                    <attribute use="optional" default="0.1" name="dampingRayleighRatioMass">
                        <simpleType>
                            <restriction base="float">
                                <minExclusive value="0.0"/>
                            </restriction>
                        </simpleType>
                    </attribute>
                    <attribute use="optional" default="0.2" name="dampingRayleighRatioStiffness">
                        <simpleType>
                            <restriction base="float">
                                <minExclusive value="0.0"/>
                            </restriction>
                        </simpleType>
                    </attribute>
                </complexType>
            </element>
            <element name="simulation">
                <complexType>
                    <sequence>
                        <element name="step" minOccurs="1" maxOccurs="unbounded">
                            <complexType>
                                <attribute name="name" type="string">
                                </attribute>
                                <attribute name="dt">
                                    <simpleType>
                                        <restriction base="float">
                                            <!-- causes a bug: XMLSyntaxError(u"Element 'step', attribute 'dt':
                                            [facet 'minExclusive'] The value '0.05' must be greater than '0'.",))
                                            <minExclusive value="0"></minExclusive>
                                            -->
                                        </restriction>
                                    </simpleType>
                                </attribute>
                                <attribute name="iterations">
                                    <simpleType>
                                        <restriction base="int">
                                            <minExclusive value="0"/>
                                        </restriction>
                                    </simpleType>
                                </attribute>
                                <attribute use="optional" default="1" name="visualizeSimResultsEvery1inXtimesteps">
                                    <simpleType>
                                        <restriction base="int">
                                            <minExclusive value="1"/>
                                        </restriction>
                                    </simpleType>
                                </attribute>
                                <attribute name="gravity">
                                </attribute>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>

    <complexType name="body_t">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <any processContents="lax"/>
        </sequence>
        <anyAttribute/>
    </complexType>

    <!--<complexType name="material_type"/>-->

    <complexType name="region_t">
        <sequence minOccurs="1" maxOccurs="unbounded">
            <choice>
                <any processContents="skip"/>
            </choice>
        </sequence>
        <attribute name="id" type="string" use="required"/>
        <attribute name="indices" type="string" use="required"/>
    </complexType>

    <complexType name="material_t">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="region" minOccurs="0" maxOccurs="unbounded" type="msml:region_t"/>
        </sequence>
        <anyAttribute/>
    </complexType>

    <complexType name="constraint_t">
        <sequence>
            <any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </sequence>
        <attribute name="name" type="string"/>
        <attribute name="forStep" type="string"/>
    </complexType>

    <complexType name="constraints_t">
        <sequence minOccurs="1" maxOccurs="unbounded">
            <element name="constraint" minOccurs="1" maxOccurs="unbounded" type="msml:constraint_t"/>
        </sequence>
    </complexType>

    <complexType name="mesh_t">
        <choice minOccurs="1" maxOccurs="1">
            <element name="linearTet" type="msml:mesh_sub_t"/>
            <element name="quadraticTet" type="msml:mesh_sub_t"/>
            <element name="triangularTet" type="msml:mesh_sub_t"/>
        </choice>
    </complexType>

    <complexType name="mesh_sub_t">
        <attribute name="mesh" type="string"/>
        <attribute name="id" type="string"/>
    </complexType>

    <complexType name="sets_t">
        <sequence>
            <element name="nodes" type="msml:list_of_indexgroups_t"
                     minOccurs="0" maxOccurs="1"/>
            <element name="elements" type="msml:list_of_indexgroups_t"
                     minOccurs="0" maxOccurs="1"/>
            <element name="surfaces" type="msml:list_of_indexgroups_t"
                     minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="list_of_indexgroups_t">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="indexgroup" type="msml:indexgroup_t"/>
        </sequence>
    </complexType>

    <complexType name="indexgroup_t">
        <attribute name="indices" type="string"/>
        <attribute name="id" type="string" use="optional"/>
    </complexType>
</schema>
